body{
  background-color: #607d8b;
  width: 100%;
    font-family: 'Permanent Marker', cursive;
}
header{
  text-align: center;
}
#winLose{
  text-align: center;
  font-size: 2em;
  width: auto;
  height: 50px;
}

.gameBoard{
  margin: auto;
  width: 95%;
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
.gridBox{
  text-align: center;
  font-size: 0px;
  width: 100%;
  height: 100px;
  background-color: red;
  border: 1px solid black;
  margin: auto;
  border-radius: 10px;
}
